// Typography

// Font-family mixins
@mixin font-tiempos-text {
  font-family: 'Tiempos Text', serif;
}
@mixin font-tiempos-headline {
  font-family: 'Tiempos Headline', serif;
}

@mixin font-akkurat {
  font-family: 'Akkurat', sans-serif;
}

// Font Weights

/// Mixin to allow us to concisely define all aspects of a paragraph style (except for family.)
@mixin paragraph-style ($size, $lh, $ls: 0em, $w: normal, $tt: none) {
  font-size: #{$size}px;
  line-height: ($lh / $size);
  letter-spacing: $ls;
  text-transform: $tt;
  font-weight: $w;
}

// Type Style Mixins + Classes
@mixin p-tiempos {
  @include font-tiempos-text;
  @include paragraph-style(20, 30, 0.005em);
}
.p-tiempos {
  @include p-tiempos;
}

@mixin type-intro {
  @include font-tiempos-headline;
  @include paragraph-style(40, 40, 0, 500, capitalize);

  @include media-md {
    @include paragraph-style(80, 75, 0, 500, capitalize);
  }
}
.type-intro {
  @include type-intro;
}

@mixin h1 {
  @include font-tiempos-headline;
  @include paragraph-style(120, 110, -0.015em, 500);
}
.h1 {
  @include h1;
}

@mixin h2 {
  @include font-tiempos-headline;
  @include paragraph-style(25, 25, -0.0125em);

  @include media-md {
    @include paragraph-style(50, 55, -0.02em);
  }
}
.h2 {
  @include h2;
}

@mixin h3 {
  @include font-tiempos-headline;
  @include paragraph-style(27, 30, 0.01em);
}
.h3 {
  @include h3;
}

@mixin h4 {
  @include font-tiempos-text;
  @include paragraph-style(20, 20, 0.01em);

  @include media-md {
    @include paragraph-style(27, 30, 0.01em);
  }
}
.type-h4 {
  @include h4;
}

@mixin h5 {
  @include font-akkurat;
  @include paragraph-style(16, 25, 0.1em, 700, uppercase);

  @include media-md {
    @include paragraph-style(20, 30, 0.1em, 700, uppercase);
  }
}
.type-h5 {
  @include h5;
}

@mixin type-subtitle-tiempos {
  @include font-tiempos-text;
  @include paragraph-style(25, 35);
}
.type-subtitle-tiempos {
  @include type-subtitle-tiempos;
}

@mixin type-nav {
  @include font-tiempos-headline;
  @include paragraph-style(25, 25, -0.0125em);

  @include media-md {
    @include paragraph-style(80, 75, -0.0125em, 500, capitalize);
  }
}
.type-nav {
  @include type-nav;
}

@mixin type-cta {
  @include font-akkurat;
  @include paragraph-style(15, 20, 0.1em, 700, uppercase);
}
.type-cta {
  @include type-cta;
}

@mixin type-detail-akkurat {
  @include font-akkurat;
  @include paragraph-style(12, 20);
}
.type-detail-akkurat {
  @include type-detail-akkurat;
}

@mixin type-subtitle-akkurat {
  @include font-akkurat;
  @include paragraph-style(25, 35);
}
.type-subtitle-akkurat {
  @include type-subtitle-akkurat;
}

@mixin type-pullquote {
  @include font-akkurat;
  @include paragraph-style(60, 60, -0.015em, 300);
}
.type-pullquote {
  @include type-pullquote;
}

@mixin p-akkurat {
  @include font-akkurat;
  @include paragraph-style(20, 30);
}
.p-akkurat {
  @include p-akkurat;
}