// Typography

// Font-family mixins
@mixin font-tiempos-text {
  font-family: 'Tiempos Text', serif;
}
@mixin font-tiempos-headline {
  font-family: 'Tiempos Headline', serif;
}

@mixin font-akkurat {
  font-family: 'Akkurat', sans-serif;
}

// Font Weights

/// Mixin to allow us to concisely define all aspects of a paragraph style (except for family.)
@mixin paragraph-style ($size, $lh, $ls: 0em, $w: normal, $tt: none) {
  font-size: #{$size}px;
  line-height: ($lh / $size);
  letter-spacing: $ls;
  text-transform: $tt;
  font-weight: $w;
}

// Type Style Mixins + Classes
@mixin type-intro {
  @include font-tiempos-headline;
  @include paragraph-style(40, 40, 0, 500, capitalize);

  @include media-md {
    @include paragraph-style(80, 75, 0, 500, capitalize);
  }
}
.type-intro {
  @include type-intro;
}

@mixin h1 {
  @include font-tiempos-headline;
  @include paragraph-style(60, 55);

  @include media-md {
    @include paragraph-style(110, 100);
  }
}
.h1 {
  @include h1;
}

@mixin h2 {
  @include font-tiempos-headline;
  @include paragraph-style(25, 25, -0.0125em);

  @include media-md {
    @include paragraph-style(50, 50, -0.0125em);
  }
}
.h2 {
  @include h2;
}

@mixin h3 {
  @include font-tiempos-headline;
  @include paragraph-style(25, 25, -0.0125em);

  @include media-md {
    @include paragraph-style(40, 50, -0.005em)
  }
}
.h3 {
  @include h3;
}

@mixin h4 {
  @include font-tiempos-text;
  @include paragraph-style(20, 20);

  @include media-md {
    @include paragraph-style(24, 30);
  }
}
.type-h4 {
  @include h4;
}

@mixin h5 {
  @include font-akkurat;
  @include paragraph-style(16, 25, 0.1em, 700, uppercase);

  @include media-md {
    @include paragraph-style(20, 30, 0.1em, 700, uppercase);
  }
}
.type-h5 {
  @include h5;
}

@mixin type-nav {
  @include font-tiempos-headline;
  @include paragraph-style(25, 25, -0.0125em);

  @include media-md {
    @include paragraph-style(80, 75, -0.0125em, 500, capitalize);
  }
}
.type-nav {
  @include type-nav;
}

@mixin type-cta {
  @include font-akkurat;
  @include paragraph-style(12, 16, 0.1em, 700, uppercase);

  @include media-md {
    @include paragraph-style(15, 20, 0.1em, 700, uppercase);
  }
}
.type-cta {
  @include type-cta;
}

@mixin type-detail{
  @include font-akkurat;
  @include paragraph-style(12, 20);
}
.type-detail{
  @include type-detail;
}

@mixin type-subtitle{
  @include font-akkurat;
  @include paragraph-style(25, 35);
}
.type-subtitle{
  @include type-subtitle;
}

@mixin type-pullquote($size: small) {
  @include font-akkurat;

  @if $size == 'small' {
    @include paragraph-style(25, 30, 0, 300);

    @include media-md {
      @include paragraph-style(40, 45, 0, 300);
    }
  } @else {
    @include paragraph-style(30, 30, -0.015em, 300);

    @include media-md {
      @include paragraph-style(60, 60, -0.015em, 300);
    }
  }

}
.type-pullquote-large {
  @include type-pullquote;
}

@mixin p {
  @include font-akkurat;
  @include paragraph-style(14, 20);

  @include media-md {
    @include paragraph-style(20, 30);
  }
}
.type-p {
  @include p;
}