// Care Team Section

.care-team-section {
  .section-title {
    @include h1;

    @include media-md {
      max-width: 50%;
    }
  }
}

.care-team-grid {
  margin-top: $padding-md;
}

.care-team-member {
  margin-bottom: $padding-sm;

  .person-image {
    @include transition(border-radius);
    overflow: hidden;
    max-width: 200px;
    border-radius: 50%;
    margin: 0 auto #{$beat * 2};
  }

  img {
    width: 100%;
    display: block;
    max-width: none;
    object-fit: cover;
  }

  h6 {
    @include h4;
  }

  p {
    margin: 12px 0 0;
  }

  @include media-md {
    margin-bottom: $padding-sm * 2;
  }
}