// Care Team Section

.care-team-section {
  .section-title {
    @include h1;

    @include media-md {
      max-width: 50%;
    }
  }
}

.care-team-grid {
  margin-top: $padding-md;
}

.care-team-member {
  margin-bottom: $padding-sm;

  img {
    display: block;
    margin-bottom: $beat * 2;
  }

  h6 {
    @include h4;
  }

  p {
    margin: 12px 0 0;
  }

  @include media-md {
    margin-bottom: $padding-sm * 2;
  }
}