// Care Team Section

.care-team-section {
  padding-bottom: $padding-sm * 2;

  .section-title {
    @include h1;
    margin-bottom: $padding-sm;

    @include media-md {
      max-width: 50%;
    }
  }
}

.care-team-grid {
  margin-top: $beat * 6;
}

.care-team-member {
  & + .care-team-member {
    margin-top: $padding-sm;
  }

  .person-image {
    @include transition(border-radius);
    overflow: hidden;
    max-width: 200px;
    border-radius: 50%;
    margin: 0 auto #{$beat * 2};
  }

  img {
    width: 100%;
    display: block;
    max-width: none;
    object-fit: cover;
  }

  h6 {
    @include h4;
  }

  p {
    margin: 12px 0 0;
  }

  @include media-md {
    margin-bottom: $padding-sm * 2;

    & + .care-team-member {
      margin-top: 0;
    }
  }
}