// Intro Section

.intro-section {
  padding-top: $padding-md;
  @include media-md {
    padding: 115px 0 195px;

    .-inner {
      display: flex;
    }
  }

  .b-container {
    width: 100%;
    padding-right: 30%;

    @include media-md {
      margin-right: 90px;
      flex-basis: 55.4545%;
    }
  }

  .big-b {
    height: 0;
    width: 100%;
    position: relative;
    padding-bottom: 100%;

    > div {
      left: 0;
      height: 50%;
      width: 100%;
      position: absolute;
      background-blend-mode: normal, multiply, normal;

      img {
        width: auto;
        max-width: none;
        position: absolute;
      }

      &.-top {
        top: 0;
        clip-path: url(#b-top-clip);
        background: linear-gradient(334.24deg, rgba(232, 134, 88, 0.35) 36.33%, rgba(255, 255, 255, 0) 90.15%), #E88658;

        img {
          right: 2%;
          top: -40%;
          height: 200%;
        }
      }
      &.-bottom {
        bottom: 0;
        clip-path: url(#b-bottom-clip);
        background: linear-gradient(360deg, rgba(237, 213, 137, 0.35) 49.84%, rgba(255, 255, 255, 0) 117.54%), color('yellow-02');

        img {
          top: -20%;
          right: -44%;
          height: 215%;
        }
      }
    }
  }

  .intro-text {
    .headline {
      @include type-intro;
      max-width: 7ch;
      margin: 0 0 40px;
    }

    p {
      @include p-akkurat;
      margin: 0;
    }

    .scroll-down {
      @extend .button-reset;
      margin-top: 40px;
      display: inline-block;

      svg {
        width: 30px;
        height: 30px;
        fill: color('orange-01');
      }
    }

    @include media-md {
      flex-basis: calc(44.5455% - 90px);
    }
  }
}