// Intro Section

.intro-animation {
  // opacity: 0.7;

  left: 0;
  right: 0;
  bottom: 0;
  top: -120px;
  z-index: 1000;
  padding-top: 235px;
  position: absolute;
  color: color('taupe-02');

  .backdrop {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: color("green-01");
  }

  .animation-text {
    position: relative;
    transform: translateX(-200px);

    > div {
      @include type-intro;
      max-width: 7ch;
    }

    span {
      display: block;
    }

    .-bottom {
      position: relative;

      .pair {
        position: absolute;
      }
    }
  }

  @include media-md {
    .animation-container {
      display: flex;
      flex-direction: row-reverse;
    }

    .animation-text {
      flex-basis: calc(44.5455% - 90px);
    }
  }
}

.intro-section {
  position: relative;
  padding-top: $padding-md;
  @include media-md {
    padding: 115px 0 195px;

    .-inner {
      display: flex;
    }
  }

  .b-container {
    width: 100%;
    padding-right: 30%;

    @include media-md {
      padding-right: 0;
      margin-right: 90px;
      flex-basis: 55.4545%;
    }
  }

  .big-b {
    height: 0;
    width: 100%;
    position: relative;
    padding-bottom: 100%;
    margin-bottom: $beat * 2;

    > div {
      left: 0;
      height: 50%;
      width: 100%;
      overflow: hidden;
      position: absolute;
      background-blend-mode: normal, multiply, normal;

      img {
        width: auto;
        max-width: none;
        position: absolute;
      }

      &.-top {
        top: 0;
        clip-path: url(#b-top-clip);
        background: linear-gradient(334.24deg, rgba(232, 134, 88, 0.35) 36.33%, rgba(255, 255, 255, 0) 90.15%), #E88658;

        img {
          right: 2%;
          top: -40%;
          height: 200%;
        }
      }
      &.-bottom {
        bottom: 0;
        clip-path: url(#b-bottom-clip);
        background: linear-gradient(360deg, rgba(237, 213, 137, 0.35) 49.84%, rgba(255, 255, 255, 0) 117.54%), color('yellow-02');

        img {
          top: -20%;
          right: -44%;
          height: 215%;
        }
      }
    }

    @include media-md {
      margin-bottom: 0;
    }
  }

  .intro-text {
    .headline {
      @include type-intro;
      max-width: 7ch;
      margin: 0 0 40px;
    }

    p {
      @include p;
      margin: 0;
    }

    .scroll-down {
      @extend .button-reset;
      margin-top: 40px;
      display: inline-block;

      svg {
        width: 30px;
        height: 30px;
        fill: color('orange-01');
      }
    }

    @include media-md {
      flex-basis: calc(44.5455% - 90px);
    }
  }
}