// Intro Section

.gs-dev-tools {
  z-index: 10000;
}
.intro-animation {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  overflow: hidden;
  padding-top: 85px;
  position: absolute;
  pointer-events: none;
  color: color('taupe-02');

  .backdrop {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: color("green-01");
  }

  .b-placeholder {
    width: 70%;
    padding-bottom: 70%;
  }

  .animation-text {
    position: relative;
    margin-top: $beat * 2;

    > div {
      @include type-intro;
      max-width: 7ch;
    }

    span {
      display: block;
    }

    .-bottom {
      position: relative;

      .pair {
        position: absolute;
      }
    }
  }

  @include media-md {
    padding-top: 235px;

    .animation-container {
      display: flex;
      flex-direction: row-reverse;
    }

    .b-placeholder {
      display: none;
    }

    .animation-text {
      margin-top: 0;
      flex-basis: calc(44.5455% - 90px);
    }
  }
}

.intro-section {
  position: relative;
  padding: $padding-md 0;
  @include media-md {
    padding: 235px 0 #{$padding-sm * 2};

    .-inner {
      display: flex;
    }
  }

  .b-container {
    width: 100%;
    padding-right: 30%;

    @include media-md {
      padding-right: 0;
      margin-right: 90px;
      flex-basis: 55.4545%;
    }
  }

  .big-b {
    height: 0;
    width: 100%;
    position: relative;
    padding-bottom: 100%;
    margin-bottom: $beat * 2;

    .b-outline {
      top: 0;
      left: 0;
      z-index: 1;
      // opacity: 0;
      width: 100%;
      position: absolute;

      path {
        fill: none;
        stroke-width: 2px;
        stroke: color('green-01');
      }
    }

    > div {
      left: 0;
      height: 50%;
      width: 100%;
      overflow: hidden;
      position: absolute;
      background-blend-mode: normal, multiply, normal;

      img {
        top: 0;
        right: -2%;
        width: auto;
        height: 100%;
        max-width: none;
        position: absolute;
      }

      &.-top {
        clip-path: url(#b-top-clip);
        background: linear-gradient(334.24deg, rgba(232, 134, 88, 0.35) 36.33%, rgba(255, 255, 255, 0) 90.15%), #E88658;
      }
      &.-bottom {
        bottom: 0;
        clip-path: url(#b-bottom-clip);
        background: linear-gradient(360deg, rgba(237, 213, 137, 0.35) 49.84%, rgba(255, 255, 255, 0) 117.54%), color('yellow-02');
      }
    }

    @include media-md {
      margin-bottom: 0;
    }
  }

  .intro-text {
    .headline {
      @include type-intro;
      max-width: 7ch;
      margin: 0 0 40px;
    }

    p {
      @include p;
      margin: 0;
    }

    .scroll-down {
      @extend .button-reset;
      margin-top: 40px;
      display: inline-block;

      svg {
        @include transition(transform);
        width: 30px;
        height: 30px;
        fill: color('orange-01');
      }

      &:hover,
      &:focus {
        svg {
          transform: translateY(10px);
        }
      }
    }

    @include media-md {
      flex-basis: calc(44.5455% - 90px);
    }
  }
}