// Leadership Section

.leadership-section {
  padding: 70px 0;
  @include media-md {
    padding: 200px 0;
  }

  .section-title {
    br {
      display: none;
    }

    @include media-md {
      br {
        display: block;
      }
    }
  }

  .leadership-feature {
    padding-bottom: 105px;

    h4 {
      @include h4;
    }

    h5 {
      @include p;
    }

    blockquote {
      padding: 0;
      margin: 30px 0;

      p {
        @include type-subtitle;
        margin: 0;
      }
    }

    .person-image {
      z-index: 1;
      position: relative;

      img {
        margin: 0 auto;
        display: block;
      }

      .-inner {
        background-color: color('orange-01');
      }
    }

    .person-content {
      position: relative;
      padding-top: $beat * 2;
      padding-bottom: $beat * 3;
      &::before {
        bottom: 0;
        left: 5px;
        top: -70px;
        right: 5px;
        content: '';
        position: absolute;
        background-color: color('taupe-02');
      }

      > * {
        position: relative;
      }
    }

    summary button {
      color: color('orange-01');
    }

    @include media-md {
      position: relative;
      padding-bottom: 305px;

      .section-title {
        position: absolute;
      }

      .person-with-bio {
        flex-direction: row-reverse;
      }

      .person-content {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 280px;
        &::before {
          right: -100%;
          left: -27.5px;
          bottom: -105px;
        }
      }
    }
  }

  .section-subtitle {
    h3 {
      @include h2;
    }

    p {
      @include type-pullquote;
    }
  }

  .person {
    + .person {
      margin-top: $beat * 2;
    }

    // Accordion Open
    details {
      summary {
        @include transition(opacity);
      }

      &[open] {
        summary {
          height: 0;
          opacity: 0;
          pointer-events: none;
        }
      }
    }

    .person-image {
      @include transition(border-radius);
      overflow: hidden;
      border-radius: 50%;
      margin-bottom: $beat * 2;
      &:hover,
      &:focus {
        border-radius: 50% 50% 0 0;
      }
    }

    img {
      width: 100%;
      display: block;
      max-width: none;
      object-fit: cover;
    }

    h4 {
      @include h4;
    }

    h5 {
      @include h5;
      display: none;
    }

    summary button {
      color: color('orange-01');
    }

    @include media-md {
      cursor: pointer;

      + .person {
        margin-top: 0;
      }
    }
  }
}

// Prevent the summary element from openeing the accordion on large screen
.person-with-bio {
  @include media-md {
    &:hover,
    &:focus {
      summary button::after {
        transform: scaleX(1);
      }
    }

    details {
      cursor: pointer;
    }

    summary {
      pointer-events: none;
    }
  }
}

.modal[data-modal-type=bio-modal] {
  .modal-content {
    &::after {
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      height: 160px;
      position: absolute;
      background-image: linear-gradient(180deg, rgba(color('taupe-02'), 0) 0%, rgba(color('taupe-02'), 1) 63.54%);
    }
  }

  .person-image {
    width: 100%;
    margin-bottom: $padding-sm;

    > .-inner {
      @extend .arch;
      background-color: color('orange-01');
    }

    > img {
      @extend .arch;
    }

    img {
      display: block;
    }

    @include media-md {
      max-width: columns(1,3);
      flex-basis: columns(1,3);
    }
  }


  .person-content {
    width: 100%;
    overflow: auto;
    padding-bottom: 120px;

    .hide-in-modal {
      display: none;
    }

    > p {
      display: none;
    }

    h4 {
      @include h2;
    }
    h5 {
      @include h5;
      color: color('orange-01');
    }

    @include media-md {
      max-width: columns(2,3);
      flex-basis: columns(2,3);
      padding-left: $padding-sm;
    }
  }

  summary {
    display: none;
  }

  .accordion-content {
    button {
      display: none;
    }
  }
}