// Pullquote Break

.pullquote-break {
  z-index: 1;
  overflow: hidden;
  position: relative;

  > .-inner {
    display: flex;
    padding: 0 $beat;
    flex-direction: column-reverse;
  }

  .pullquote-image {
    height: 0;
    width: 100%;
    position: relative;
    padding-bottom: 60%;
    &::before {
      top: 50%;
      bottom: 0;
      content: '';
      left: -$beat * 2;
      right: -$beat * 2;
      position: absolute;
      background-color: color('green-01');
    }

    > .-inner {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      position: absolute;
    }

    img {
      left: 50%;
      top: -2.5%;
      display: block;
      position: absolute;
    }
  }

  .pullquote-text {
    padding: 30px;
    background-color: color('taupe-02');

    p {
      @include type-pullquote();
      margin: 0;
    }
  }

  @include media-md {
    display: block;
    padding-top: 150px;

    .background {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;

      &::before {
        top: 0;
        width: 150%;
        content: '';
        bottom: 0;
        position: absolute;
        background-color: color('taupe-02');
      }

      &::after {
        bottom: 0;
        width: 150%;
        content: '';
        height: 105px;
        position: absolute;
        background-color: color('green-01');
      }
    }

    .-inner {
      padding: 0;
      position: relative;
      flex-direction: row;
    }

    .pullquote-image {
      height: auto;
      max-width: 45%;
      flex-basis: 45%;
      overflow: hidden;
      padding-bottom: 0;
      position: relative;
      &::before {
        display: none;
      }

      img {
        top: -2.5%;
        left: 50%;
        width: auto;
        height: 110%;
        max-width: none;
        position: absolute;
        // transform: translateX(-50%);
      }
    }

    .pullquote-text {
      max-width: 55%;
      flex-basis: 55%;
      padding: 0 100px 105px 90px;
      background-color: transparent;

      p {
        max-width: 370px;
        margin-bottom: $padding-sm;
      }
    }
  }

  @include media-lg {
    .background {
      &::after {
        height: 210px;
      }
    }

    .pullquote-image {
      max-width: 55%;
      flex-basis: 55%;
    }

    .pullquote-text {
      max-width: 45%;
      flex-basis: 45%;
      padding: 0 150px 210px 140px;

      p {
        margin: 0 0 150px;
      }
    }
  }
}