// Welcom Section

.welcome-section {
  @include media-md {
    + .section {
      padding-top: 0;
    }
  }

  .overlapping-image {
    margin-top: $padding-sm;
  }

  .offset-pill {
    display: flex;
    padding-bottom: 150px;

    > div {
      flex-basis: 50%;
    }

    .-left {
      margin-top: 150px;
      align-self: flex-end;

      img {
        border-radius: 666px 0 0 666px;
      }
    }
    .-right {
      position: sticky;
      top: calc(50vh - 25%);
      align-self: flex-start;
      img {
        border-radius: 0 666px 666px 0;
      }
    }
  }
}