// Care Menu Section

.your-care-section {
  padding-bottom: $padding-md;

  .section-title {
    @include h1-tiempos;
    text-transform: capitalize;
  }

  .image-break {
    max-width: 880px;
    margin: $padding-md auto 0;

    @include media-md {
      margin-top: $padding-lg;
    }
  }
}

.care-menu-container {
  .care-description {
    > p:first-of-type {
      margin-top: 0;
    }
  }

  @include media-md {
    position: relative;

    .care-description {
      top: 0;
      right: 100%;
      position: absolute;
      padding-top: $padding-sm;
      margin-right: $padding-md;
      width: calc(50% - #{$padding-md});
    }
  }
}

.care-menu {
  @extend .semantic-list;

  li {
    + li {
      border-top: 1px solid;
    }
  }

  summary {
    @include transition(color);

    &:hover,
    &:focus {
      color: color('orange-01');

      .button {
        @extend .button-hover;
      }
    }
  }

  .button {
    --button-primary: #{color('orange-01')};
    --button-secondary: #{color('green-01')};
    min-width: 60px;
  }

  .accordion-content {
    padding-bottom: $padding-sm;

    @include media-md {
      padding-right: $padding-lg;
    }
  }
}