// Care Menu Section

.your-care-options-section {
  padding: $padding-sm 0 #{$beat * 6};
  @include media-md {
    padding: $padding-lg 0 #{$padding-sm * 2};
  }

  .section-title {
    @include h1;
    max-width: 8ch;
    margin-bottom: 40px;
    text-transform: capitalize;

    @include media-md {
      margin-bottom: 70px;
    }
  }

  .image-break {
    max-width: 880px;
    margin: $padding-md auto 0;

    > div {
      height: 0;
      position: relative;
      padding-bottom: 57.6923%;

      .-inner {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
      }
    }

    img {
      top: -5%;
      width: auto;
      height: 120%;
      max-width: none;
      position: absolute;
    }

    @include media-md {
      margin-top: $padding-lg;

      > div {
        padding-bottom: 56.8181%;
      }
    }
  }
}

.care-menu-container {
  .care-description {
    > p:first-of-type {
      margin-top: 0;
    }
  }

  @include media-md {
    position: relative;
  }
}

.care-menu {
  @extend .semantic-list;

  li {
    + li {
      border-top: 1px solid;
    }
  }

  summary {
    @include transition(color);

    &:hover,
    &:focus {
      color: color('orange-01');

      .button {
        @include button-hover;
      }
    }
  }

  .button {
    --button-primary: #{color('orange-01')};
    --button-secondary: #{color('green-01')};
    // min-width: 60px;
  }

  .accordion-content {
    padding-bottom: $padding-sm;

    @include media-md {
      padding-right: $padding-lg;
    }
  }
}