// We Believe Section

.we-believe-section {
  padding: 0 0 #{$padding-sm * 2};

  @include media-md {
    padding-bottom: 200px;
  }

  .section-title {
    margin-bottom: $beat * 2;

    @include media-md {
      margin-bottom: $beat * 3;
    }
  }

  .section-subtitle {
    @include type-pullquote;
    max-width: 330px;
    margin: 0 0 #{$beat * 3};

    @include media-md {
      margin: 0 0 $padding-sm;
    }
  }

  .belief {
    margin-bottom: 30px;

    &:last-of-type {
      margin-bottom: 0;
    }

    p {
      font-size: 20px;
      margin: $beat 0 0;
      line-height: 30px;
    }

    @include media-md {
      margin-bottom: $padding-sm;

      p {
        margin-top: $beat * 1.5;
      }
    }
  }
}