// We Believe Section

.we-believe-section {
  .section-title {
    margin-bottom: $beat * 2;

    @include media-md {
      margin-bottom: $beat * 3;
    }
  }

  .section-subtitle {
    @include type-pullquote;
    max-width: 330px;
    margin: 0 0 #{$beat * 3};

    @include media-md {
      margin: 0 0 $padding-sm;
    }
  }

  .belief {
    margin-bottom: 30px;

    p {
      font-size: 20px;
      line-height: 30px;
    }

    @include media-md {
      margin-bottom: $padding-sm;
    }
  }
}