details {
  overflow: hidden;

  &:focus:not(:focus-visible) {
    outline: none
  }

  .button {
    will-change: transform;
  }

  &.-is-open {
    .button:not(.close-accordion) .icon {
      transform: rotate(225deg);
      transition: transform 0.3s ease;
    }

    .accordion-content {
      opacity: 1;
      transform: translateY(0);
      transition: opacity 0.35s 0.15s ease-out, transform 0.35s 0.15s ease-out;
    }
  }
}

summary {
  appearance: none;;

  &::before {
    display: none!important;
  }
  &::marker,
  &::-webkit-details-marker {
    display: none;
  }

  &,
  button {
    @extend .button-reset;
    @include h3;
    display: flex;
    cursor: pointer;
    text-align: left;
    align-items: center;
    padding: #{$beat * 2} 0;
    justify-content: space-between;

    @include media-md {
      padding: $padding-sm 0;
    }
  }

  &.simple-summary {
    &,
    button {
      @include type-cta;
      padding: 0;
      justify-content: unset;
    }

    .icon {
      margin-left: 20px;
    }
  }

  .icon {
    transform-origin: center center;
    transition: transform 0.5s ease, fill 0.2s ease-out;
  }
}

.accordion-content {
  opacity: 0;
  text-align: left;
  overflow: hidden;
  transform: translateY(-10%);
  will-change: opacity, transform;
  transition: opacity 0.35s ease, transform 0.35s ease;
}