// Accordion Styles

summary {
  @include h2-tiempos;
  display: flex;
  cursor: pointer;
  text-align: left;
  align-items: center;
  padding: $padding-sm 0;
  justify-content: space-between;
  &::-webkit-details-marker {
    display: none;
  }

  &.simple-summary {
    @include type-cta;
    padding: 0;
    justify-content: unset;
  }

  .icon {
    margin-left: 20px;
  }
}

.accordion-content {
  text-align: left;
}