//base styles
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  @include p-akkurat;
  color: color('green-01');
	background-color: color('sand-01');
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
	color: inherit;
}

img {
  height: auto;
	max-width: 100%;
}

.sitewrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0 $padding-sm;
  max-width: $sitewrapper;
  @include media-md {
    padding: 0 $padding-md;
  }
}

.site-main {
  background-color: color('sand-01');
}

// B Mask svg hidden, but present for masking
.b-mask {
  position: absolute;
  pointer-events: none;
}