//base styles
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  @include p;
  @include smooth;
  scroll-behavior: smooth;
  color: color('green-01');
	background-color: color('taupe-02');
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
	color: inherit;
}

img {
  height: auto;
	max-width: 100%;
}

.sitewrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  position: relative;
  max-width: $sitewrapper;
  @include media-md {
    padding: 0 $padding-md;
  }
}

.site-main {
  background-color: color('taupe-01');
}

// B Mask svg hidden, but present for masking
.b-mask {
  position: absolute;
  pointer-events: none;
}

// Site Overlay
// shown when nav is open
.site-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  position: fixed;
  z-index: z(overlay);
  pointer-events: none;
  will-change: opacity;
  transition: opacity 0.35s;
  background-color: rgba(color('black'), 0.75);
}
body.nav-open,
body.modal-open {
  .site-overlay {
    opacity: 1;
    pointer-events: auto;
  }
}

// If User Perfers Reduced Motion, Don't animation/transition
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none!important;
    transition: none!important;
  }

  html,
  body {
    scroll-behavior: unset;
  }
}