// Footer

.site-footer {
  color: color('taupe-02');
  padding-top: $padding-md;
  padding-bottom: $padding-md;
  background-color: color('black');
  @include media-md {
    padding-top: $padding-lg;
    padding-bottom: $padding-lg;
  }

  p {
    margin: 0 0 $beat;
  }

  a {
    @include transition(color);
    color: color('orange-01');

    &:hover,
    &:focus {
      color: color('taupe-03');
    }
  }

  .newsletter-signup {
    --button-primary: #{color('orange-01')};
    --button-secondary: #{color('black')};
    margin: $padding-sm 0;

    // Successful submission
    ._form-content {
      @include transition(opacity);
      opacity: 1;

      &._submission-successful {
        opacity: 0;
      }
    }
  }

  .email-link {
    @include h4;
    font-size: 27px;
    line-height: 30px;
    letter-spacing: 0.01em;
    margin-bottom: $padding-sm;
  }

  .social {
    @extend .semantic-list;
    display: flex;

    li + li {
      margin-left: $beat * 2;
    }

    a {
      display: block;

      &:hover,
      &:focus {
        svg {
          fill: color('taupe-03');
        }
      }
    }

    svg {
      @include transition(fill);
      width: 30px;
      height: 30px;
      fill: color('orange-01');
    }
  }
}