// Forms

:root {
  --form-color: #{color('white')};
}

form {
  @include p-akkurat;

  input {
    @extend .input-reset;
    padding: 15px 0;
    color: color('white');
    color: var(--form-color);
    border-bottom: 2px solid color('white');
    border-bottom: 2px solid var(--form-color);

    &:focus {
      border-bottom-width: 6px;
    }
  }
}