// Header

.site-header {
  top: 0;
  left: 0;
  padding-top: 30px;
  position: absolute;
  z-index: z(header);
  @include media-md {
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 60px;
  }

  .site-logo {
    display: flex;

    .lettermark {
      z-index: 1;
      width: 30px;
      height: 30px;
      overflow: hidden;
      clip-path: url(#logo-mask);
      background-color: color('green-01');

      .logo-background {
        @include transition(background-image, 1s);
        left: 0;
        top: -60px;
        width: 100%;
        display: none;
        position: absolute;
        pointer-events: none;
        will-change: transform;
      }

      @include media-md {
        width: 60px;
        height: 60px;
        position: fixed;

        .logo-background {
          display: block;
        }
      }
    }

    svg {
      fill: color('green-01');

      &.bt-lettermark {
        width: 30px;
        height: 30px;
      }

      &.bt-wordmark {
        width: 91px;
        height: 30px;
        margin-left: 5px;
      }
    }

    @include media-md {
      margin-left: -70px;

      svg {
        &.bt-lettermark {
          width: 60px;
          z-index: 10;
          height: 60px;
          position: fixed;
        }

        &.bt-wordmark {
          width: 182px;
          height: 60px;
          margin-left: 80px;
        }
      }
    }
  }
}