// Header

.site-header {
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  position: fixed;
  padding-top: $padding-md;
  mix-blend-mode: difference;

  h1 {
    margin: 0;
  }

  .site-logo {
    display: flex;

    svg {
      fill: color('white');

      &.bt-lettermark {
        width: 60px;
        height: 60px;
      }

      &.bt-wordmark {
        width: 182px;
        height: 60px;
        margin-left: 10px;
      }
    }
  }
}
