// Navigation

.site-nav {
  top: 0;
  bottom: 0;
  left: 100%;
  z-index: z(nav);
  position: fixed;
  min-width: 320px;
  will-change: transform;
  padding: 100px 30px 30px;
  background-color: color('black');
  transition: transform 0.4s ease-in;

  &.-active {
    transform: translateX(-100%);
    transition: transform 0.4s ease-out;
  }

  a {
    @include type-nav;
    @include transition(color);
    text-decoration: none;
    color: color('taupe-01');
    &:hover,
    &:focus {
      color: color('orange-01');
    }
  }

  ul {
    @extend .semantic-list;
    counter-reset: nav;
    color: color('green-01');
  }

  li {
    text-align: center;
    position: relative;
    &::before {
      @include h5;
      top: 0.4em;
      display: block;
      position: relative;
      vertical-align: top;
      margin-bottom: 0.4em;
      content: counter(nav);
      counter-increment: nav;
      color: color('orange-01');
    }

    & + li {
      margin-top: 41px;
      &::after {
        left: 50%;
        top: -16px;
        content: '';
        width: 10px;
        height: 1px;
        position: absolute;
        transform: translateX(-50%);
        background-color: color('taupe-01');
      }
    }
  }

  @include media-md {
    padding: 214px $padding-md $padding-md;

    a {
      white-space: nowrap;
    }

    li {
      text-align: right;
      &::before {
        display: inline;
        margin-right: 0.4em;
      }

      & + li {
        &::after {
          right: 0;
          left: auto;
          top: -12px;
          transform: none;
        }
      }
    }
  }

  @include media-lg {
    padding: 214px $padding-lg $padding-md;
  }
}

// Nav Toggle
.nav-toggle {
  @extend .button-reset;
  top: 30px;
  width: auto;
  right: 30px;
  cursor: pointer;
  position: absolute;

  span {
    display: block;
  }

  .toggle-icon {
    @include box-shadow(0);
    @include transition(box-shadow);
  }

  svg {
    width: 24px;
    height: 18px;
  }

  .toggle-label {
    @include type-cta;
    margin-top: 15px;
  }

  @include media-md {
    top: 60px;
    right: $padding-md;
    &:hover,
    &:focus {
      .toggle-icon {
        @include box-shadow;
        @include button-hover;
      }
    }

    .toggle-icon {
      @include button(circular);
    }
  }

  // Open
  &.nav-open {
    position: fixed;
    z-index: z(navToggle);
    color: color('orange-01');

    .toggle-icon {
      --button-secondary: #{color('black')};
      --button-primary: #{color('orange-01')};
      fill: color('orange-01')
    }
  }

  // Close
  &.nav-close {
    color: color('taupe-01');

    .toggle-icon {
      --button-secondary: #{color('black')};
      --button-primary: #{color('taupe-01')};
      fill: color('taupe-01')
    }
  }
}
