// @font-face imports

// Akkurat:
@font-face {
  font-family: "Akkurat";
  src: url("../fonts/AkkuratLLWeb-Thin.woff") format("woff"),
       url("../fonts/AkkuratLLWeb-Thin.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Akkurat";
  src: url("../fonts/AkkuratLLWeb-ThinItalic.woff") format("woff"),
       url("../fonts/AkkuratLLWeb-ThinItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Akkurat";
  src: url("../fonts/AkkuratLLWeb-Light.woff") format("woff"),
       url("../fonts/AkkuratLLWeb-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Akkurat";
  src: url("../fonts/AkkuratLLWeb-LightItalic.woff") format("woff"),
       url("../fonts/AkkuratLLWeb-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Akkurat";
  src: url("../fonts/AkkuratLLWeb-Regular.woff") format("woff"),
       url("../fonts/AkkuratLLWeb-Regular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Akkurat";
  src: url("../fonts/AkkuratLLWeb-Italic.woff") format("woff"),
       url("../fonts/AkkuratLLWeb-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Akkurat";
  src: url("../fonts/AkkuratLLWeb-Bold.woff") format("woff"),
       url("../fonts/AkkuratLLWeb-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Akkurat";
  src: url("../fonts/AkkuratLLWeb-BoldItalic.woff") format("woff"),
       url("../fonts/AkkuratLLWeb-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Akkurat";
  src: url("../fonts/AkkuratLLWeb-Black.woff") format("woff"),
       url("../fonts/AkkuratLLWeb-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Akkurat";
  src: url("../fonts/AkkuratLLWeb-BlackItalic.woff") format("woff"),
       url("../fonts/AkkuratLLWeb-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

// Tiempos
@font-face {
  font-family: 'Tiempos Text';
  src: url('../fonts/tiempos-text-web-regular.woff2') format('woff2'),
       url('../fonts/tiempos-text-web-regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Tiempos Text';
  src: url('../fonts/tiempos-text-web-regular-italic.woff2') format('woff2'),
       url('../fonts/tiempos-text-web-regular-italic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Tiempos Headline';
  src: url('../fonts/tiempos-headline-web-light.woff2') format('woff2'),
       url('../fonts/tiempos-headline-web-light.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}